* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url("./images/premium_photo-1675810094933-14233747e1b5.jpeg");
    background-size: cover;
    font-family: "Inter", Arial, Helvetica, sans-serif;

  }
.navbar{
    position: relative;
    width: 1200px;
    left: 50px;
}
.logo{
    width: 150px;
    height: 100px;
}
.logo-container{
    display: flex;
}
.navlinks{
    margin-left: 35%;
    margin-top: 2.5%;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 5px;
    width: 950px;
    height: 100px;
}
li{
    display: inline;
    padding: 0 30px;
}
ul {
    list-style-type: none;
}
/* .text-container{
    width: 1000px;
    height: 350px;

}   */
h1{
    width: 1000px;
    margin-left: 470px;
    margin-top: 300px;
    font-size: 60px;
    color:white;
}
h2{
    width: 1000px;
    margin-left: 470px;
    font-size: 50px;
    color: white;
}
.button {
    margin-left: 45%;
   
    
}
  /* Styles for the button */
  .btn {
    display: inline-block;
    padding: 20px;
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1%;
  }
  
  .btn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    /* display: none; */
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    display: none;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
  /* Show the form when it's the target */
  .formbold-main-wrapper:target {
    display: block;
  }
  

 